[submodule "psychology_project/psychology_project/deployRepository"]
	path = psychology_project/psychology_project/deployRepository
	url = https://github.com/erika6593/deployRepository.git
[submodule "clone/clone/deployRepository"]
	path = clone/clone/deployRepository
	url = https://github.com/erika6593/deployRepository.git
