/* 全体のフォームスタイリング */
.form-container {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 400px; /* フォームの幅を指定 */
    margin: auto;
}

/* フレックスボックス設定 */
.form-group {
    display: flex;
    align-items: center;  /* 中央揃え */
    margin-bottom: 10px;  /* マージンでフィールド間隔を調整 */
}

/* ラベルとフィールドの間隔、ラベルのテキスト色もグレーに */
.form-group label {
    margin-right: 10px;  /* ラベルと入力フィールドの間に適切なスペースを設定 */
    white-space: nowrap; /* ラベルが折り返さないように設定 */
    color: gray; /* ラベルの色をグレーに設定 */
}

/* メールアドレス、パスワード、その他テキスト入力フィールドのスタイル */
input[type="email"], input[type="password"], input[type="text"] {
    color: gray; /* 入力テキストの色をグレーに設定 */
    flex-grow: 1;  /* 利用可能なスペースを埋める */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%; /* 幅を100%に設定 */
}

/* プレースホルダーテキストの色 */
input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="text"]::placeholder {
    color: lightgray; /* プレースホルダーの色をより薄いグレーに設定 */
}

/* サブミットボタンのスタイル */
.input-submit {
    background-color: #e16ba0; /* ボタンの背景色を白に */
    color: white; /* ボタンのテキスト色 */
    border: 1px solid #ccc; /* 枠線を追加 */
    border-radius: 10px; /* 角を丸くする */
    width: 40%; /* 幅を100%に設定 */
    padding: 10px;
    margin-top: 20px; /* 上マージン */
    cursor: pointer; /* カーソルをポインターに設定 */
}

.input-submit:hover {
    background-color: #e39aa1; /* ホバー時の背景色 */
}

/* エラーメッセージのスタイル */
.error, .errorlist.nonfield li {
    color: red; /* エラーメッセージを赤色で表示 */
}

/* ナビゲーションブランドのカスタムスタイル */
.navbar-brand-custom {
    color: #f03b3b !important; /* 強制的なテキスト色設定（薄い赤色） */
}

/* ナビゲーションアイテムのリストスタイル */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* 中央揃え */
}
