{% comment %} <!-- templates/quiz_type_a.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.title }}</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.detail }}</p>
    <!-- Type A specific content -->
</body>

</html> {% endcomment %}
{% comment %} 
{% extends 'base.html' %}
{% block content %}
<div class="col-6 offset-3">
    <div style="float:left; padding:0 20px 20px 0">
        {% for picture in object.productpictures_set.all %}
        {% if forloop.first %}
        <div><img width="200px" height="200px" src={{ picture.picture.url }}></div>
        {% else %}
        <img width="50px" height="50px" src={{ picture.picture.url }}>
        {% endif %}
        {% endfor %}
    </div>
    <h3>関連質問</h3>
    {% for question in object.questions.all %}
        <div>
            <p><strong>質問:</strong> {{ question.question_text }}</p>
            <p><strong>答え:</strong> {{ question.answer_text }}</p>
    {% endblock %} {% endcomment %}
{% extends 'base.html' %}
{% block content %}
<h1>散歩中に見つけたものは？</h1>
<h2>1.石</h2>
<p>1.石を選んだあなたは・・・</p>
{% endblock %}